{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha #{{ ficha.id }} - Hospital Rancagua</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/ficha.css' %}">
</head>
<body>
    <nav class="navb">
        <a class="logohospital" href="/menu/"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        <div class="usuario-info">
            <span class="usuario-nombre"> {{ usuario.nombre }} </span>
            <a href="/logout/" class="usuario-cerrarsesion">Cerrar sesión</a>
        </div>
    </nav>
    <main>
        <div class="maincard">
            <label class="label-title">Ficha</label>
            <div class="cardficha">
                ID de ficha: {{ ficha.id }} <br/>
                Fecha de creación: {{ ficha.fechacreacion }} <br/>
                Rut del paramedico: {{ ficha.rutparamedico }} <br/>
                <br/>
                Nombre: {% if ficha.nombrepaciente %} {{ ficha.nombrepaciente }} {% else %} n/a {% endif %} <br/>
                Apellido: {% if ficha.apellidopaciente %} {{ ficha.apellidopaciente }} {% else %} n/a {% endif %} <br/>
                Rut: {% if ficha.rutpaciente %} {{ ficha.rutpaciente }} {% else %} n/a {% endif %} <br/>
                Edad: {{ ficha.edad }} <br/>
                Género: {{ ficha.genero }} <br/>
                Teléfono: {% if ficha.telefono %} {{ ficha.telefono }} {% else %} n/a {% endif %} <br/>
                <br/>
                Motivo de consulta: {{ ficha.motivoconsulta }} <br/>
                {% if ficha.comorbilidades %} Comorbilidades: {{ ficha.comorbilidades }} <br/>{% endif %} 
                {% if ficha.alergias %}Alergias: {{ ficha.alergias }} <br/>{% endif %} 
                {% if ficha.frecardiaca %} Frecuencia Cardiaca: {{ ficha.frecardiaca }}lpm <br/>{% endif %} 
                {% if ficha.temperatura %} Temperatura: {{ ficha.temperatura }}°C <br/>{% endif %} 
                {% if ficha.presionarterial %} Presión Arterial: {{ ficha.presionarterial }}mmHg <br/>{% endif %} 
                {% if ficha.tiposangre %} Tipo de Sangre: {{ ficha.tiposangre }} <br/>{% endif %}
                <br/>
                Observaciones: {{ ficha.observaciones }} <br/>

            </div>

        </div>
    </main>

    
</body>
</html>