{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de ficha - Hospital Rancagua</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
</head>

<body>
    <nav class="navb">
        <a class="logohospital" href="/menu/"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        <div class="usuario-info">
            <span class="usuario-nombre"> {{ usuario.nombre }} </span>
            <a href="/logout/" class="usuario-cerrarsesion">Cerrar sesión</a>
        </div>
    </nav>
    <main>
        <div class="maincard">
        <label class="label-title">Formulario</label>
            <div class="form-container">
                <form method="post" action="/insertar/">
                    {% csrf_token %}

                    <div class="input-group">
                        <label class="input-label">Nombre Del Paciente</label>
                        <input class="input-text" type="text" name="txtnompa" placeholder="Ingresa el Nombre del Paciente"
                            maxlength="80">
                    </div>

                    <div class="input-group">
                        <label class="input-label">Apellido Del Paciente</label>
                        <input class="input-text" type="text" name="txtapepa" placeholder="Ingresa el Apellido del Paciente"
                            maxlength="80">
                    </div>

                    <div class="input-group">
                        <label class="input-label">Rut Del Paciente</label>
                        <input class="input-text" type="text" name="txtrutpa" placeholder="Ingresa el Rut del Paciente" maxlength="12">

                    </div>


                    <div class="input-doublegroup">
                        <div class="input-group">
                            <label class="input-label">Edad</label>
                            <input class="input-number"type="number" name="txteda" placeholder="Ingrese la edad ( estimado )" min="0" max="120" required>
                        </div> 
                        <div class="input-group">
                            <label class="input-label">Teléfono</label>
                            <input class="input-phone" type="number" name="txttel" placeholder="Ingrese un teléfono (Ej: 9 1234 5678)" min="0"
                                max="999999999" >
                        </div>
                    </div>

                    <div class="input-doublegroup">
                        <div class="input-group">
                            <label class="input-label">Género</label>
                            <select class="input-select" name="cbogen" required>
                                <option value="">-Elija el Genero del paciente-</option>
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                            </select>
                        </div>

                        <div class="input-group">
                            <label class="input-label">Previsión</label>
                            <select class="input-select" name="cbopre">
                                <option value="">-Elija una prevision-</option>
                                <option value="Fonasa">Fonasa</option>
                                <option value="Isapre">Isapre</option>
                                <option value="Dipreca">Dipreca</option>
                                <option value="Particular">Particular</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group">
                        <label class="input-label">Motivo de consulta</label>
                        <input class="input-text" type="text" name="txtmot" placeholder="Ingrese el motivo de consulta" required>
                    </div>


                    <div class="input-group">
                        <label class="input-label">Comorbilidades</label>
                        <input class="input-text" type="text" name="txtcom" placeholder="Ingrese comorbilidades">
                    </div>


                    <div class="input-group">
                        <label class="input-label">Alergia</label>
                        <input class="input-text" type="text" name="txtale" placeholder="Ingrese alergias (opcional)">
                    </div>
                    
                    <div class="input-doublegroup">
                        <div class="input-group">
                            <label class="input-label">Frecuencia Cardiaca ( lpm )</label>
                            <input class="input-number" type="number" name="txtfre" placeholder="89" min="0" max="200">
                        </div>

                        <div class="input-group">
                            <label class="input-label">Temperatura ( °C )</label>
                            <input class="input-number" type="number" name="txttem" id="txttem" placeholder="36°C" min="-30" max="150">
                        </div>
                    </div>

                    <div class="input-doublegroup">
                        <div class="input-group">
                            <label class="input-label">Presion Arterial ( mmHg )</label>
                            <input class="input-number" type="number" name="txtpre" placeholder="90">
                        </div>

                        <div class="input-group">
                            <label class="input-label">Tipo de Sangre</label>
                            <select class="input-select" name="cbosan">
                                <option value="">-Elija un tipo de sangre-</option>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group">
                        <label class="input-label">Observaciones</label>
                        <div class="input-txtarea">
                            <textarea name="txtobs" placeholder="Observaciones adicionales" maxlength="2000"></textarea>
                        </div>
                    </div>

                    <button type="submit" class="button-01">
                        <span>Enviar</span>
                    </button>
                </form>
            </div>

        </div>
    </main>


</body>

</html>