{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal - Hospital Rancagua</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <nav class="navb">
        <a class="logohospital" href="/menu/"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        <div class="usuario-info">
            <span class="usuario-nombre"> {{ usuario.nombre }} </span>
            <a href="/logout/" class="usuario-cerrarsesion">Cerrar sesión</a>
        </div>
    </nav>
    <main>
        <div class="maincard">
            <label class="label-title">Menu</label>
            <div class="menu-buttons">
                <a href="/formulario/" class="menu-button">
                    <img src="{% static 'svg/form.svg' %}" class="menu-icon" alt="Formulario Icono">
                    <span class="menu-text">Formularios de Fichas</span>
                </a>

                <a href="/listado/" class="menu-button">
                    <img src="{% static 'svg/list.svg' %}" class="menu-icon" alt="Listado Icono">
                    <span class="menu-text">Listado de Fichas</span>
                </a>
            </div>


        </div>
    </main>

    
</body>
</html>