{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal - Hospital Rancagua</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
</head>
<body>
    <nav class="navb">
        <a class="logohospital" href="/menu/"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        <div class="usuario-info">
            <span class="usuario-nombre"> {{ usuario.nombre }} </span>
            <a href="/logout/" class="usuario-cerrarsesion">Cerrar sesión</a>
        </div>
    </nav>
    <main>
        <div class="maincard">
            
        </div>
    </main>

    
</body>
</html>