{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal - Hospital Rancagua</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    <nav class="navb">
        <a class="logohospital" href="/menu/"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        <div class="usuario-info">
            <span class="usuario-nombre"> {{ usuario.nombre }} </span>
            <a href="/logout/" class="usuario-cerrarsesion">Cerrar sesión</a>
        </div>
    </nav>
    <main>
        <div class="maincard">
            <div class="menu-buttons">
                <a href="/formulario/" class="menu-button">
                    <object type="image/svg+xml" data="{% static 'svg/form.svg' %}" class="menu-icon"></object>
                    <span class="menu-text">Formularios de Fichas</span>
                </a>

                <a href="/listado/" class="menu-button">
                    <object type="image/svg+xml" data="{% static 'svg/list.svg' %}" class="menu-icon"></object>
                    <span class="menu-text">Formulario de Fichas</span>
                </a>
            </div>


        </div>
    </main>

    
</body>
</html>