{% load static %}

{% if r %}
    <div id="status" class="card_status">
        {% if r.type == 'success' %}
            <img src="{% static 'svg/statussuccess.svg' %}" class="status_icon" alt="Success">
        {% elif r.type == 'error' %}
            <img src="{% static 'svg/statuserror.svg' %}" class="status_icon" alt="Error">
        {% endif %}
        <p id="statustext" class="lbl_status"> {{ r.message }} </p>
    </div>
    <script>
        let statusTimeout;
        var statusDiv = document.getElementById("status");
        statusDiv.classList.remove("status-hide", "status-visible");
        void statusDiv.offsetWidth;
        statusDiv.classList.add("status-visible");

        if (statusTimeout) clearTimeout(statusTimeout);

        statusTimeout = setTimeout(() => {
            statusDiv.classList.remove("status-visible");
            statusDiv.classList.add("status-hide");
        }, 6000);
    </script>
{% endif %}