.txtnotfound{
    display: block;
    text-align: center;
    color: rgb(146, 146, 146);
    margin-top: 40px;
}


.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}

.table th, .table td {
    padding: 12px 12px;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
}

.table td {
    text-align: left;
    font-weight: 300;
}
.table td a{
    color: black;
}
.tdbuttons{
    display: flex;
    justify-content: center;
}

.tdbutton {
    display: inline-block;
    padding: auto;
    margin-inline: 3px;
    padding:auto;
    height: 38px;
    width:  38px;
    background-color: #93C01E;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 4px;
}.tdbutton:hover {
    background-color: #21ADAC;
}.tdbutton-icon{
    width: 24px;
    height: 24px;
    margin-inline: auto;
}
    

.table tr:hover {
    background-color: #f1f1f1;
}


.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.rutuser {
    color: #007bff;
    text-decoration: none;
    font-family: monospace;
    font-weight: 20;
    color: black;
}

.lbl-results {
    font-size: 12px;
    font-weight: 300;
    margin-top: 8px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    padding: 4px;
}

.pagination {
    display: flex;
    width: 320px;
    justify-content: center;
    margin-block: auto;
}
.pagination button {
    height: 35px;
    width: 35px;
    padding: 2px 2px;
    margin: 0 2px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 4px;
}
.pagination button:hover {
    background-color: #21ADAC;
    color: white;
}
.pagination input {
    height: 25px;
    min-height: 30px;
    width: 30px;
    max-width: 30px;
    padding: 2px 2px;
    margin: 0 2px;
    text-align: center;
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.pagination input:hover {
    outline: none;
    background-color: #e3eeed;
    border-color: #53968f7a;
}
.pagination input:focus {
    outline: none;
    border-color: rgb(83, 150, 143);
    box-shadow: 0 0 0 2px #53968f7a;
}

.filters-left {
    padding: 10px;
}

.filters-right {
    padding: 10px;
}