{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal - Hospital Rancagua</title>
    <link rel="stylesheet" href="{% static 'menu.css' %}">
</head>
<body>
    <header class="header">
        <div class="header-content">
            <button type="button" class="menu-toggle">
                <div class="menu-line"></div>
            </button>
            <div class="logo-section">
                <h1>Hospital Rancagua</h1>
            </div>
        </div>
    </header>

        <main class="main">
            <div class="main-content">
                <div class="card-container">
                    <!-- Boton -->
                    <a href="" target="_blank" class="card-link">
                        <div class="card">
                            <div class="col-md-2">
                                <div class="card-title">Historial De Formularios</div>
                            </div>
                        </div>
                    </a>

                    <!-- Boton -->
                    <a href="" target="_self" class="card-link">
                        <div class="card">
                            <div class="card-icon">
                                <img src="https://api-pysu.hospitalrancagua.cl/storage/images/buttons-icons/hospital-amigo.png" alt="Hospital Amigo">
                            </div>
                            <div class="card-title">Historial De Formularios</div>
                        </div>
                    </a>

                    <!-- Boton -->
                    <a href="" target="_self" class="card-link">
                        <div class="card">
                            <div class="card-icon">
                                <img src="https://api-pysu.hospitalrancagua.cl/storage/images/buttons-icons/participacion.png" alt="Participación">
                            </div>
                            <div class="card-title">Usuarios</div>
                        </div>
                    </a>

                    <!-- Boton -->
                    <a href="" target="_self" class="card-link">
                        <div class="card">
                            <div class="card-icon">
                                <img src="https://api-pysu.hospitalrancagua.cl/storage/images/buttons-icons/informacion.png" alt="Atención Virtual">
                            </div>
                            <div class="card-title">Historial De Acciones</div>
                        </div>
                    </a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>